<style>

</style>

<form>
  <div class="imgcontainer">
    <img src="login_image.svg" width="100px" height="100px"alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <div>
      <label><b>Username</b></label>
      <input type="text" ng-model="username"  placeholder="Enter Username" required>
    </div>
    <div>
      <label><b>Password</b></label>
      <input type="password" ng-model="password"  placeholder="Enter Password" required>
    </div>
    <div class="footer">
      <div>
        <button ng-click="login()" class="login_btn" type="submit">Login</button>
      </div>
      <div>
        <input type="checkbox" ng-model="saveLogin"  checked="checked"> Remember me
      </div>
    </div>
  </div>
</form>
